* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #232b2b;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}